.Cart{
    display:flex;
    padding: 40px 50px;
    gap: 50px;
    overflow :visible;
    .shopping__cart{
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: white;
        box-shadow: #b9b9b9 0px 0px 10px 1px ;
        padding: 20px;
        .shopping__cart__header{
            display:flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 20px;
            border-bottom: 1px solid #c3c3c3;
            .shopping__cart__header__title{
                font-size: 24px;
                font-weight: 600;
            }
            .cart__clear{
                font-size: 14px;
                font-weight: 600;
                color: #ff0000;
                cursor: pointer;
                padding: 10px 5px;
            }
        }
        .shopping__cart__footer{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-top: 20px;
            border-top: 1px solid #c3c3c3
        }
    }
    .products{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        .product{
            border-bottom: 1px solid #c3c3c3;
            display: flex;
            gap: 50px;
            padding: 40px 0;
            .product__image{
                width: 150px;
                height: 150px;
                img{
                    width: 100%;
                    height: 100%;
                    // object-fit: cover;
                }
            }
            .product__info{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 50px;
                align-self: center;
                .product__details{
                    display: flex;
                    justify-content: space-between;
                }
                .product__btns{
                    display: flex;
                    gap: 10px;
                    align-items: flex-end;
                    .quantity__control{
                        display: flex;
                        gap: 5px;
                        justify-content: center;
                        align-items: center;
                        .btn{
                            width: 30px;
                            height: 30px;
                            border: 1px solid #c3c3c3;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            &:hover{
                                background-color: #c3c3c3;
                            }
                        }
                    }
                    .btn-danger{
                        width: 70px;
                        height: 30px;
                        border: 1px solid #c3c3c3;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        &:hover{
                            background-color: #c3c3c3;
                            color: #ff0000;
                        }
                    }
                }
            }
            &:last-child{
                border-bottom: none;
            }
        }
    }
    .checkout{
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: sticky;
        top: 100px;
        height: fit-content;
        padding: 30px;
        background-color: white;
        box-shadow: #b9b9b9 0px 0px 10px 1px ;
        .checkout-btn{
            width: 100%;
            height: 40px;
            background-color: #f57224;
            color: white;
            font-size: 18px;
            font-weight: 600;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            &:hover{
                background-color: #f57224;
                opacity: 0.8;
            }
        }
    }
}