.form{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.5);
    .form__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
        gap: 10px;
        background-color: white;

        .form__header{
            position : relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            .form__close{
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
            }
        }
        .form__group{
            display: flex;
            // flex-direction: column;
            justify-content: space-between;
            gap: 30px;
            width: 100%;
            .form__label{
                font-size: 14px;
                font-weight: 500;
            }
            input{
                padding: 10px;
                border: 1px solid #ddd;
                width: 250px;
                border-radius: 5px;
                outline: none;
                transition: all 0.3s ease;
                &:focus{
                    border-color: #000;
                }
            }
            .image__input{
                input{
                    width: 200px;
                    border-radius: 5px 0 0 5px;
                }
                button{
                    width:50px;
                    padding: 10px 0px;
                    border: 1px solid #ddd;
                    border-radius:  0 5px 5px 0;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    &:hover{
                        background-color: #ddd;
                    }
                }
            }
            textarea{
                padding: 10px;
                border: 1px solid #ddd;
                border-radius: 5px;
                outline: none;
                transition: all 0.3s ease;
                width: 250px;
                &:focus{
                    border-color: #000;
                }
            }
        }
        .preview{
            display: flex;
            justify-content: center;
            gap: 10px;

            .preview__image{
                display: flex;
                justify-content: center;
                align-items: center;
                position : relative;
                border: 1px solid #ddd;
                padding: 5px;

                img{
                max-width: 75px;
                max-height: 75px;
                object-fit: cover;
                background-size: cover;
                background-position: center;
                }

                .remove{
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    font-size: 10px;
                    background-color: #dedede;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    &:hover{
                        background-color: #e76060;
                        color: #ffffff;
                    }
                }
            }
        }
        .btn{
            padding: 10px 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            width:100%;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover{
                background-color: #ddd;
            }
        }
    }
}